ul {
     --accent-color: purple;
   }
ol {
    --accent-color: rebeccapurple;
   }

img {
    height: 200px; /* Высота блока */
    width: 230px; /* Ширина блока */
    overflow: scroll; /* Добавляем полосы прокрутки */
    background: #27ff35; /* Цвет фона */
    padding: 7px; /* Поля вокруг текста */
    border: 1px solid #5d50b3; /* Параметры рамки */
}
title
{
    margin: 0;
    padding: 0;
   }
hr
{ margin: 0; }
#main
{ width: 100%}

#header {
    margin-right: 10px;
    margin-left: 10px;
    width: 97.9166667%; /* 940 × 960 */
}

a {
    display: block;
    height: 40px;
    float: left;
    font-size: 1.2em;
    padding-right: 0.8em;
    background: url(images/headerRight.png) no-repeat scroll top right;
}
a span {
    background: url(images/headerLeft.png) no-repeat;
    display: block;
    line-height: 40px;
    padding-left: 0.8em;
}

